/**
 * ****************************
 *
 * ****************************
 */
.content-mask {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
    margin-top: 15px;
}

.content-mask > * {
    box-sizing: border-box;
    margin: 0;
}

.content-mask .favorites {
    width: calc(100% - 200px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.content-mask .favorites > * {
    margin: 0;
}

.content-mask .favorites .collection-groups {
    width: 200px;
    border-right: 1px solid #676767;
}

.content-mask .favorites .collection-groups .create-favroites {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}



.content-mask .favorites .collection-groups .create-favroites:hover {
    background-color: #717171;
}

.content-mask .favorites .collection-groups .create-favroites .button {
    font-size: 14px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 0 20px;
}

.content-mask .favorites .collection-groups .create-favroites .create-form {
    position: absolute;
    bottom: -102px;
    right: 0;
    background-color: #303030;
    padding: 20px;
    /*transform: translateY(100%);*/
    z-index: 20;
    /*box-shadow: 0 0 10px 0 blue;*/
    transition: all 0.3s;
    opacity: 0;
}

.content-mask .favorites .collection-groups .create-favroites .create-form.show {
    bottom: -110px;
    opacity: 1;
}

.content-mask .favorites .collection-groups .create-favroites .create-form .mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.content-mask .favorites .collection-groups .create-favroites .create-form .form {
    z-index: 20;
    position: relative;
}



.content-mask .favorites .collection-groups .create-favroites .create-form .form .line-for-input {
    position: relative
}

.content-mask .favorites .collection-groups .create-favroites .create-form .form .line-for-input:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50% , 0);
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #f3c669;
    z-index: 20;
    transition: all 0.3s;
}

.content-mask .favorites .collection-groups .create-favroites .create-form:focus-within .line-for-input::before {
    /*background-color: #f3c669;*/
    width: 100%;
}


.content-mask .favorites .collection-groups .create-favroites .create-form .form .line-for-input .input {
    border: none;
    color: #fff;
    text-indent: 0;
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid #c7c7c7;
    transition: all 0.3s;
}

.content-mask .favorites .collection-groups .create-favroites .create-form .form .line-for-input .input:hover {
    border-color: #525353;
}

.content-mask .favorites .collection-groups .create-favroites .create-form .form .action {
    text-align: center;
}

.content-mask .favorites .collection-groups .collection-group {
    /*max-height: 600px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*padding-bottom: 60px;*/
}

.content-mask .favorites .collection-groups .collection-group .item {
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.content-mask .favorites .collection-groups .collection-group .item.cur {
    background-color: #717171;
}

.content-mask .favorites .collection-groups .collection-group .item:hover {
    background-color: #717171;
}

.content-mask .favorites .collection-groups .collection-group .item:hover > .action .number span > * {
    margin: 0;
    flex: 0 0 auto;
}

.content-mask .favorites .collection-groups .collection-group .item:hover > .action .number .text {
    display: none;
}

.content-mask .favorites .collection-groups .collection-group .item:hover > .action .number .ico {
    display: flex;
}

.content-mask .favorites .collection-groups .collection-group .item > .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    font-size: 14px;
    height: 30px;
}

.content-mask .favorites .collection-groups .collection-group .item > .action > * {
    margin: 0;
    flex: 0 0 auto;
}

.content-mask .favorites .collection-groups .collection-group .item > .action .number span {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-mask .favorites .collection-groups .collection-group .item > .action .number .ico {
    display: none;
}

.content-mask .favorites .collection-groups .collection-group .item .actions {
    position: absolute;
    bottom: 20px;
    right: 0;
    /*transition: all 0.3s;*/
    z-index: 1;
    transform: translateY(100%);
    margin-top: 20px;
    opacity: 0.3;
}

.content-mask .favorites .collection-groups .collection-group .item .actions.show {
    transform: translateY(100%);
    opacity: 1;
}

.content-mask .favorites .collection-groups .collection-group .item .actions button {
    display: block;
    color: #fff;
    height: 30px;
    background-color: #555555;
    transition: all 0.3s;
    cursor: pointer;
    width: 100%;
}

.content-mask .favorites .collection-groups .collection-group .item .actions button:hover {
    background-color: #717171;
}



.content-mask .favorites .collection-groups .collection-group .item .name {

}

.content-mask .favorites .collection-groups .collection-group .item .number {

}

/*** 编辑收藏夹 ***/
.content-mask .favorites .collection-groups .collection-group .item .update-form {
    position: absolute;
    bottom: -102px;
    right: 0;
    background-color: #303030;
    padding: 20px;
    /*transform: translateY(100%);*/
    z-index: 20;
    /*box-shadow: 0 0 10px 0 blue;*/
    transition: all 0.3s;
    opacity: 0;
}

.content-mask .favorites .collection-groups .collection-group .item .update-form.show {
    bottom: -110px;
    opacity: 1;
}

.content-mask .favorites .collection-groups .collection-group .item .update-form .mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.content-mask .favorites .collection-groups .collection-group .item .update-form .form {
    z-index: 20;
    position: relative;
}



.content-mask .favorites .collection-groups .collection-group .item .update-form .form .line-for-input {
    position: relative
}

.content-mask .favorites .collection-groups .collection-group .item .update-form .form .line-for-input:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50% , 0);
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #f3c669;
    z-index: 20;
    transition: all 0.3s;
}

.content-mask .favorites .collection-groups .collection-group .item .update-form:focus-within .line-for-input::before {
    /*background-color: #f3c669;*/
    width: 100%;
}


.content-mask .favorites .collection-groups .collection-group .item .update-form .form .line-for-input .input {
    border: none;
    color: #fff;
    text-indent: 0;
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid #c7c7c7;
    transition: all 0.3s;
}

.content-mask .favorites .collection-groups .collection-group .item .update-form .form .line-for-input .input:hover {
    border-color: #525353;
}

.content-mask .favorites .collection-groups .collection-group .item .update-form .form .action {
    text-align: center;
}

/*** 收藏夹 ***/
.content-mask .favorites .collections {
    width: calc(100% - 200px);
}

.content-mask .favorites .collections .list {
    position: relative;
    min-height: 120px;
}

.content-mask .favorites .collections .list .empty ,
.content-mask .favorites .collections .list .loading
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.content-mask .favorites .collections .list .loading {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;
}

.content-mask .favorites .collections .list > .item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*margin-bottom: 20px;*/
    transition: all 0.3s;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
}

.content-mask .favorites .collections .list > .item .checkbox {
    position: absolute;
    left: 25px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content-mask .favorites .collections .list > .item.edit-mode {
    background-color: #4c4c4c;
}

.content-mask .favorites .collections .list > .item.edit-mode .checkbox input[type=checkbox] {
    display: inline-block;
}

.content-mask .favorites .collections .list > .item .checkbox input[type=checkbox] {
    vertical-align: top;
    cursor: pointer;
    display: none;
}

.content-mask .favorites .collections .list > .item:hover {
    background-color: #4c4c4c;
}

.content-mask .favorites .collections .list > .item > * {
    margin: 0;
    box-sizing: border-box;
}

.content-mask .favorites .collections .list > .item > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.content-mask .favorites .collections .list > .item .thumb {
    width: 220px;
    height:120px;
}

.content-mask .favorites .collections .list > .item .thumb .mask {
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
}

.content-mask .favorites .collections .list > .item .thumb .mask .image {
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    vertical-align: top;
}

.content-mask .favorites .collections .list > .item > .info {
    width: calc(100% - 200px);
    padding-left: 20px;
}

.content-mask .favorites .collections .list > .item > .info > * {
    margin: 0 0 5px 0;
}

.content-mask .favorites .collections .list > .item > .info > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.content-mask .favorites .collections .list > .item > .info .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-mask .favorites .collections .list > .item > .info .title > * {
    margin: 0;
}

.content-mask .favorites .collections .list > .item > .info .title .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 100px);
}

.content-mask .favorites .collections .list > .item > .info .title .action {

}

.content-mask .favorites .collections .list > .item > .info .title .action .button {
    color: #fff;
    background-color: #5d5d5d;
    transition: all 0.3s;
    cursor: pointer;
    height: 25px;
    padding: 0 10px;
    vertical-align: top;
    opacity: 0;
    transform: scale(0.3,0.3);
}

.content-mask .favorites .collections .list > .item:hover .info .title .action .button {
    transform: scale(1,1);
    opacity: 1;
}

.content-mask .favorites .collections .list > .item > .info .title .action .button:hover {
    background-color: #828282;
}

.content-mask .favorites .collections .list > .item > .info .info ,
.content-mask .favorites .collections .list > .item > .info .desc {
    font-size: 12px;
    color: #ccc;
}

.content-mask .favorites .collections .list > .item > .info .desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-mask .favorites .pager {
    text-align: center;
}

.content-mask .filter {
    width: 200px;
}

.content-mask .filter.fixed > .inner {
    position: fixed;
    top: var(--fixed-top-with-extra);
    margin-left: 20px;
}

.content-mask > .filter > .inner {
    width: 160px;
}

.content-mask > .filter > .inner > * {
    margin-bottom: 20px;
}

.content-mask > .filter > .inner > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.content-mask > .filter > .inner .search-input {

}

.content-mask > .filter > .inner .search-input > .inner {
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25px;
    position: relative;
}

.content-mask > .filter > .inner .search-input > .inner > * {
    margin: 0;
    height: inherit;
    flex: 0 0 auto;
}

.content-mask > .filter > .inner .search-input > .inner:focus-within {
    background-color: #717171;
}

.content-mask > .filter > .inner .search-input > .inner .ico {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-mask > .filter > .inner .search-input > .inner .input {
    background-color: transparent;
    border: none;
    color: #fff;
    text-indent: 0;
    width: calc(100% - 25px);
}

.content-mask > .filter > .inner .search-input > .inner .input::placeholder {
    color: #ccc;
}

.content-mask > .filter > .inner .search-input > .inner .pending {
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
}

.content-mask > .filter > .inner .relation-type {
    font-size: 14px;
}

.content-mask > .filter > .inner .relation-type .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0 10px;
    background-color: #555555;
}

.content-mask > .filter > .inner .relation-type .item:hover {
    background-color: #717171;
}

.content-mask > .filter > .inner .relation-type .item > * {
    margin: 0;
}

.content-mask > .filter > .inner .relation-type .item input[type=radio] {
    background-color: transparent;
}
