/**
 * ****************************
 *
 * ****************************
 */
.content-mask {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
}

.content-mask > * {
    box-sizing: border-box;
    margin: 0;
}

.content-mask .history {
    width: calc(100% - 200px);
}



.content-mask .history .groups {
    position: relative;
    min-height: 100px;
}

.content-mask .history .groups .empty ,
.content-mask .history .groups .loading
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-mask .history .groups .loading {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;
}

.content-mask .history .groups .group {
    margin-bottom: 20px;
}

.content-mask .history .groups .group:nth-last-of-type(1) {
    margin-bottom: 0;
}

.content-mask .history .groups .group > .title {
    font-size: 14px;
    margin-bottom: 12px;
    padding: 0 20px;
}

.content-mask .history .groups .group .list {

}

.content-mask .history .groups .group .list > .item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*margin-bottom: 20px;*/
    transition: all 0.3s;
    cursor: pointer;
    padding: 10px 20px;
}

.content-mask .history .groups .group .list > .item:hover {
    background-color: #4c4c4c;
}

.content-mask .history .groups .group .list > .item > * {
    margin: 0;
    box-sizing: border-box;
}

.content-mask .history .groups .group .list > .item > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.content-mask .history .groups .group .list > .item .thumb {
    width: 220px;
    height:120px;
    position: relative;
}

.content-mask .history .groups .group .list > .item .thumb .mask {
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
}

.content-mask .history .groups .group .list > .item .thumb .mask .image {
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    vertical-align: top;
}

.content-mask .history .groups .group .list > .item .thumb .progress-bar {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--progress-bar-color);
}

.content-mask .history .groups .group .list > .item > .info {
    width: calc(100% - 200px);
    padding-left: 20px;
}

.content-mask .history .groups .group .list > .item > .info > * {
    margin: 0 0 5px 0;
}

.content-mask .history .groups .group .list > .item > .info > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.content-mask .history .groups .group .list > .item > .info .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-mask .history .groups .group .list > .item > .info .title > * {
    margin: 0;
}

.content-mask .history .groups .group .list > .item > .info .title .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 100px);
}

.content-mask .history .groups .group .list > .item > .info .title .action {

}

.content-mask .history .groups .group .list > .item > .info .title .action .button {
    color: #fff;
    background-color: #5d5d5d;
    transition: all 0.3s;
    cursor: pointer;
    height: 25px;
    padding: 0 10px;
    vertical-align: top;
    opacity: 0;
    transform: scale(0.3,0.3);
}

.content-mask .history .groups .group .list > .item:hover .info .title .action .button {
    transform: scale(1,1);
    opacity: 1;
}

.content-mask .history .groups .group .list > .item > .info .title .action .button:hover {
    background-color: #828282;
}

.content-mask .history .groups .group .list > .item > .info .info ,
.content-mask .history .groups .group .list > .item > .info .desc {
    font-size: 12px;
    color: #ccc;
}

.content-mask .history .groups .group .list > .item > .info .desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-mask .history .pager {
    text-align: center;
}

.content-mask .filter {
    width: 200px;
}

.content-mask .filter.fixed > .inner {
    position: fixed;
    top: var(--fixed-top-with-extra);
    margin-left: 20px;
}

.content-mask > .filter > .inner {
    width: 160px;
}

.content-mask > .filter > .inner > * {
    margin-bottom: 20px;
}

.content-mask > .filter > .inner > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.content-mask > .filter > .inner .search-input {

}

.content-mask > .filter > .inner .search-input > .inner {
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25px;
}

.content-mask > .filter > .inner .search-input > .inner > * {
    margin: 0;
    height: inherit;
    flex: 0 0 auto;
}

.content-mask > .filter > .inner .search-input > .inner:focus-within {
    background-color: #717171;
}

.content-mask > .filter > .inner .search-input > .inner .ico {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-mask > .filter > .inner .search-input > .inner .input {
    background-color: transparent;
    border: none;
    color: #fff;
    text-indent: 0;
    width: calc(100% - 25px);
}

.content-mask > .filter > .inner .search-input > .inner .input::placeholder {
    color: #ccc;
}

.content-mask > .filter > .inner .relation-type {
    font-size: 14px;
}

.content-mask > .filter > .inner .relation-type .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0 10px;
    background-color: #555555;
}

.content-mask > .filter > .inner .relation-type .item:hover {
    background-color: #717171;
}

.content-mask > .filter > .inner .relation-type .item > * {
    margin: 0;
}

.content-mask > .filter > .inner .relation-type .item input[type=radio] {
    background-color: transparent;
}
