.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.container > * {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.container > .menu {
    min-width: 50px;
    width: 220px;
    height: 100%;
    z-index: 10;
    background-color: #464b56;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.container > .menu.shrink {
    width: 50px;
}

.container > .content {
    z-index: 8;
    padding-left: 220px;
    background-color: #464b56;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container > .content.spread {
    padding-left: 50px;
}

/*** 菜单 ***/

.container > .menu > .inner {
    width: 220px;
    height: 100%;
}

.container > .menu > .inner > .logo {
    padding: 10px;
    height: 50px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    background-color: #525865;
}

.container > .menu > .inner > .logo > * {
    margin: 0;
}

.container > .menu > .inner > .logo .image-outer {
    width: 30px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.container > .menu > .inner > .logo .image-outer .inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container > .menu > .inner > .logo .image-outer .inner .image {
    width: auto;
    height: 100%;
    vertical-align: top;
}

.container > .menu > .inner > .logo .text-outer {
    padding-left: 10px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    color: #fff;
    font-weight: bold;
}


/*** 左边：头像  ***/
.container > .menu > .inner > .avatar {
    overflow: hidden;
    width: 220px;
    height: 186px;
    /*padding-bottom: 15px;*/
    margin: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}

.container > .menu > .inner > .avatar.shrink {
    width: 0;
    height: 0;
}

.container > .menu > .inner > .avatar > .inner {
    width: 220px;
}

.container > .menu > .inner > .avatar > .inner > .top {
    height: 150px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;

}

.container > .menu > .inner > .avatar > .inner > .top .my-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.container > .menu > .inner > .avatar > .inner > .btm {
    font-size: 14px;
    color: white;
    text-align: center;
}

/**
 * *************
 * 滑块
 * *************
 */
.container > .menu > .inner > .block {
    background-color:#3e4448;
}

.container > .menu > .inner > .block:hover .horizontal .in .line , .container > .menu > .inner > .block:hover .vertical .in .line {
    background-color:#e7e7e7;
}

.container > .menu > .inner > .block>*  {
    height:30px;
    position:relative;
    cursor:pointer;
}

.container > .menu > .inner > .block .horizontal {

}

.container > .menu > .inner > .block .vertical {

}

.container > .menu > .inner > .block .horizontal .in , .container > .menu > .inner > .block .vertical .in {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate3d(-50% , -50% , 0px);
    -webkit-transform:translate3d(-50% , -50% , 0px);
    -moz-transform:translate3d(-50% , -50% , 0px);
    -ms-transform:translate3d(-50% , -50% , 0px);
    -otransform:translate3d(-50% , -50% , 0px);
}

.container > .menu > .inner > .block .horizontal .in:after {
    display:block;
    content:'';
    clear:both;
}

.container > .menu > .inner > .block .horizontal .in .line {
    float:left;
    width: 3px;
    height: 12px;
    margin-right:3px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    background-color: #868686;
}

.container > .menu > .inner > .block .horizontal .in .line:nth-last-of-type(1) {
    margin-right: 0;
}

.container > .menu > .inner > .block .vertical {
    width:50px;
    margin: 0;
}

.container > .menu > .inner > .block .vertical .in {

}

.container > .menu > .inner > .block .vertical .in .line {
    background-color: #868686;
    margin-bottom:3px;
    width:12px;
    height:2px;
    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
}

.container > .menu > .inner > .block .vertical .in .line:nth-last-of-type(1) {
    margin-bottom: 0;
}

/*** 功能菜单  ***/
.container > .menu > .inner > .menus {
    margin-bottom: 30px;
    overflow: hidden;
    overflow-y: auto;
}

.container > .menu > .inner > .desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #525865;
}


/**
 * *****************
 * 文档右边，全局设置
 * *****************
 */

.container > .content > .inner > .nav {

}

.container > .content > .inner > .nav > .toolbar {
    height: 50px;
    line-height: 50px;
    background-color: #5c626d;


}

.container > .content > .inner > .nav > .tabs {
    height: 30px;
}

/**
 * *********************
 * 文档右边，顶部上边
 * *********************
 */
.container > .content > .inner > .nav > .toolbar {

}

.container > .content > .inner > .nav > .toolbar:after {
    display: block;
    content: '';
    clear: both;
}

.container > .content > .inner > .nav > .toolbar > * {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.container > .content > .inner > .nav > .toolbar > .left {
    float: left;
}

.container > .content > .inner > .nav > .toolbar > .right {
    float: right;
}

.container > .content > .inner > .nav > .toolbar > .left:after {
    display: block;
    content: '';
    clear: both;
}

.container > .content > .inner > .nav > .toolbar > .left > * {
    float: left;
    position: relative;
    text-align: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container > .content > .inner > .nav > .toolbar > .left > *:hover {
    background-color: #797d84;
}


.container > .content > .inner > .nav > .toolbar > .left > * .image {
    width: 28px;
    height: 28px;
}

.container > .content > .inner > .nav > .toolbar > .left > *:after {
    display: block;
    content: '';
    width: 1px;
    height: 40%;
    background-color: #757f90;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.container > .content > .inner > .nav > .toolbar > .left > *:nth-last-of-type(1)::after {
    display: none;
}

.container > .content > .inner > .nav > .toolbar > .right {

}

.container > .content > .inner > .nav > .toolbar > .right:after {
    display: block;
    content: '';
    clear: both;
}

.container > .content > .inner > .nav > .toolbar > .right > * {
    float: left;
    height: 100%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.container > .content > .inner > .nav > .toolbar > .right > .user {
    position: relative;
}

.container > .content > .inner > .nav > .toolbar > .right > .user:hover .ctrl {
    background-color: #797d84;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .ctrl {
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .ctrl:after {
    display: block;
    content: '';
    clear: both;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .ctrl > * {
    float: left;
    height: 50px;
    padding-right: 10px;
    line-height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .ctrl > *:nth-last-of-type(1) {
    padding-right: 0;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .ctrl .avatar {
    text-align: center;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .ctrl .avatar .my-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .ctrl .username {
    color: white;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions {
    background-color: #484e58;
    padding: 10px;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    right: 0;
    z-index: 10;
    width: 160px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions .function {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions .function:hover {
    background-color: #626a77;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions .function:after {
    display: block;
    content: '';
    clear: both;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions .function > * {
    height: 100%;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions .function .left {
    width: 40px;
    text-align: center;
    position: absolute;
    left: 0;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions .function .left .image {
    width: 20px;
    height: 20px;
}

.container > .content > .inner > .nav > .toolbar > .right > .user .functions .function .right {
    color: white;
    margin-left: 40px;
}

.container > .content > .inner > .nav > .toolbar > .right > .notification {
    width: 50px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.container > .content > .inner > .nav > .toolbar > .right > .notification:hover {
    background-color: #797d84;
}

.container > .content > .inner > .nav > .toolbar > .right > .notification > .in {
    position: relative;
    height: 100%;
}

.container > .content > .inner > .nav > .toolbar > .right > .notification > .in .image-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    overflow: hidden;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.container > .content > .inner > .nav > .toolbar > .right > .notification > .in .image-container .image {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
}

.container > .content > .inner > .nav > .toolbar > .right > .notification > .in .text {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    line-height: normal;
    padding: 0 5px;
    background-color: red;
    overflow: hidden;
    border-radius: 3px;;
    z-index: 10;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

/**
 * **************************
 * 文档右边：底部
 * **************************
 */
.container > .content > .inner > .area {
    background-color: #777d8a;
    min-width: 600px;
    overflow: hidden;
}

.container > .content > .inner > .area > .inner {
    height: 100%;
    /*overflow: hidden;*/
    /*position: relative;*/
}

.container > .content > .inner > .area > .inner > .item {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 0;*/
}

.container > .content > .inner > .area > .inner > .item.cur {
    /*z-index: 1;*/
}

.container > .content > .inner > .info {
    text-align: center;
    font-size: 12px;
    color: #fff;
    height: 24px;
    line-height: 24px;
    background-color: #595f6b;

}