/**
 * ******************
 * 模块导航
 * ******************
 */
.navigation {
    height: 60px;
    line-height: 60px;
    position: relative;
}

.navigation:after {
    display: block;
    content: '';
    clear: both;
}

.navigation > .nav {
    background-color: #777d8a;
    height: 100%;
    /*background-color: #8e95a5;*/
    /*transition: all 0.3s;*/
}



.navigation > .nav.fixed {
    z-index: 8;
    width: 100%;
    height: 60px;
    padding-left: 240px;
    padding-right: 20px;
    position: fixed;
    top: 80px;
    right: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.navigation > .nav.fixed.spread {
    padding-left: 70px;
}

.navigation > .nav.fixed > .inner:before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: red;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 5px 0 red;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.navigation > .nav > .inner {
    height: 100%;
}

.navigation > .nav.fixed > .inner {

}

.navigation > .nav > .inner > * {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.navigation > .nav > .inner > .left {
    float: left;
    font-size: 20px;
}

.navigation > .nav > .inner > .right {
    float: right;
}

.navigation > .nav > .inner > .left > .image {
    width: 40px;
    height: 40px;
}

.navigation > .nav > .inner > .left > .cn {
    color: white;
}

.navigation > .nav > .inner > .left .delimiter {
    color: white;
}

.navigation > .nav > .inner > .left > .en {
    color: white;
}

.navigation > .nav > .inner > .right {
    color: #e4e4e4;
    font-size: 14px;
}

.navigation > .nav > .inner > .right > * {

}

.navigation > .nav > .inner > .right > .text {
    cursor: pointer;
}

.navigation > .nav > .inner > .right > .delimiter {
    padding: 0 8px;
}

.navigation > .nav > .inner > .right > *:nth-last-of-type(1) {
    font-weight: bold;
}
