/**
 * ***********************
 * 全局变量
 * ***********************
 */
:root {
    --view-width: 1280px;
    --border-color: dimgrey;
    --border-color-yellow: #f3c669;
    --font-color-yellow: #f3c669;
    --fixed-top: 105px;
    --fixed-top-with-extra: 125px;
    --button-background-color: #5d5d5d;
    --button-background-color-hover: #828282;
    --button-color: #fff;
    --box-background-color: #464646;
    --box-background-color-hover: #585858;
    --card-box-background-color: #383838;
    --card-box-background-color-hover: #424242;
    --line-background: url(../res/line.png);
    --background:  url(../res/background.jpg);
    --image-subject-index-ico-background:  url(../res/blur.jpg);
    --font-color: #ccc;
    --font-color-white: #fff;
    --progress-bar-color: #bd0000;

}
