/**
 * *****************
 * 网站总体设置
 * *****************
 */
.view {
    width: 1280px;
}


/**
 * **************
 * 标签样式
 * **************
 */

.run-tags.horizontal  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.run-tags.vertical  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.run-tags.vertical .tag {
    text-align: center;
}

.run-tags  .tag {
    flex: 0 0 auto;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 12px;
    background-color: #5d5d5d;
    transition: all 0.3s;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
}

.run-tags  .tag:nth-last-of-type(1) {
    margin-right: 0;
}

.run-tags .tag.more {
    position: relative;
}

.run-tags .tag.more .number {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50% , -50%);
    border-radius: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #c44649;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
}

.run-tags  .tag.cur {
    background-color: #828282;
}

.run-tags  .tag:hover {
    background-color: #828282;
}



/**
 * **********************
 * 弹性盒子
 * **********************
 */
.card-box {
    transition: all 0.3s;
    transform: translateY(0);
    background-color: #383838;
    width: 305px;
    box-sizing: border-box;
}

.card-box:hover {
    background-color: #424242;
    transform: translateY(-5px);
}

.card-box:hover .thumb .mask {
    /*opacity: 1;*/
    background-color: rgba(0,0,0,0.5);
}

.card-box:hover .thumb .mask .top .collection {
    opacity: 1;
}

.card-box .thumb {
    position: relative;
    height: 380px;
    overflow: hidden;
}

.card-box .thumb .image {
    min-width: 100%;
    height: 100%;
    vertical-align: top;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    transform: translateX(-50%);
}

.card-box .thumb .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    /*background-color: rgba(0,0,0,0.5);*/
    opacity: 1;
    cursor: pointer;
    z-index: 1;
}

.card-box .thumb .mask > * {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.card-box .thumb .mask .run-iconfont {
    font-size: 35px;
}

.card-box .thumb .mask .top {
    top: 0;
}

.card-box .thumb .mask .top .type {
    position: absolute;
    left: 20px;
    top: 20px;
}

.card-box .thumb .mask .top .collection {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transition: all 0.3s;

}

.card-box .thumb .mask .btm {
    bottom: 0;
}

.card-box .thumb .mask .btm .count {
    background-color: rgba(62, 62, 62, 0.5);
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.card-box .introduction {
    padding: 0 15px 15px;
    box-sizing: border-box;
}

.card-box .introduction .tags {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-box .introduction .tags .ico {
    padding-right: 5px;
}

.card-box .introduction .tags .tag {
    padding: 3px 10px;
    background-color: #5d5d5d;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 5px;
    line-height: normal;
    display: inline-block;
}

.card-box .introduction .tags .tag:nth-of-type(1) {
    margin-left: 0;
}

.card-box .introduction .tags .tag:hover {
    background-color: #828282;
}

.card-box .introduction .title {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    cursor: pointer;
}

.card-box .introduction .title:hover {
    text-decoration: underline;
}

.card-box .introduction .user {
    text-align: left;
    height: 40px;
    line-height: 40px;
}

.card-box .introduction .user .avatar-outer {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.card-box .introduction .user .avatar-outer .avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    height: 100%;
    vertical-align: top;
    transform: translate(-50% , -50%);
}

.card-box .introduction .user .name {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-box .introduction .info {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.card-box .introduction .info > * {
    margin: 0;
}

.card-box .introduction .info .right span {
    margin-right: 8px;
}

.card-box .introduction .info .right span:nth-last-of-type(1) {
    margin-right: 0;
}

