.main {
    background-color: #303030;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #fff;
}

/**
 * ****************
 * 导航栏
 * ****************
 */
.main > .header {
    height: 102px;
}

.main > .header .navigation {
    width: 100%;
    transition: all 0.3s linear;
    background-color: #464646;
    transform: translateY(0);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.main > .header .navigation.fixed {
    transform: translateY(-60px);
    /*background-color: rgba(72, 72, 72 , 1);*/
}


.main > .header .navigation .nav-top > .inner ,
.main > .header .navigation .nav-btm > .inner
{
    width: 1280px;
    height: 100%;
    position: relative;
}

/**
 * **********************
 * 导航栏：顶部
 * **********************
 */


.main > .header .navigation .nav-top {
    position: relative;
    height: 61px;
    line-height: 40px;
    border-bottom: 1px solid #525252;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 10;
}

.main > .header .navigation .nav-top > .inner > div {

}


/*** 顶部导航栏 top logo ***/
.main > .header .navigation .nav-top > .inner .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.main > .header .navigation .nav-top > .inner .logo:after {
    display: block;
    content: '';
    clear: both;
}

.main > .header .navigation .nav-top > .inner > .logo > div {
    float: left;
    box-sizing: border-box;
    margin-right: 15px;
}

.main > .header .navigation .nav-top > .inner > .logo > div:nth-last-of-type(1) {
    margin-right: 0;
}

.main > .header .navigation .nav-top > .inner .logo .__logo__ {
    width: 40px;
    height: 100%;
    overflow: hidden;
}

.main > .header .navigation .nav-top > .inner .logo .__logo__ .image {
    min-width: 100%;
    height: 100%;
    vertical-align: top;
}

.main > .header .navigation .nav-top > .inner .logo .site {
    font-weight: bold;
}

/*** 顶部导航栏 top search ***/
.main > .header .navigation .nav-top > .inner .search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: calc(100% - 40px - 400px - 60px);
    height: 100%;
    /*min-width: 250px;*/
    background-color: rgba(255,255,255,0.1);
}

.main > .header .navigation .nav-top > .inner .search:before {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: #f3c669;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 10;
}

.main > .header .navigation .nav-top > .inner .search:focus-within::before {
    width: 100%;
}

.main > .header .navigation .nav-top > .inner .search:focus-within .inner .input {
    background-color: #717171;
}

.main > .header .navigation .nav-top > .inner .search:focus-within .inner .input .form-input {
    color: #f3c669 !important;
}

.main > .header .navigation .nav-top > .inner .search .inner {
    height: 100%;
}

.main > .header .navigation .nav-top > .inner .search .inner .ico {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .header .navigation .nav-top > .inner .search .inner .input {
    height: 100%;
    border: none;
    padding-left: 40px;
    padding-right: 70px;
    transition: all 0.3s;
}

.main > .header .navigation .nav-top > .inner .search .inner .input .form-input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    vertical-align: top;
}

.main > .header .navigation .nav-top > .inner .search .inner .input .form-input::placeholder {
    color: #999;
}

.main > .header .navigation .nav-top > .inner .search .inner .type {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    font-size: 14px;
    transition: all 0.3s;
}

.main > .header .navigation .nav-top > .inner .search .inner .type:hover {
    background-color: #717171;
}

.main > .header .navigation .nav-top > .inner .search .inner .type .current {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .header .navigation .nav-top > .inner .search .inner .type .current .iconfont {
    display: inline-block;
    transition: all 0.3s;
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
}

.main > .header .navigation .nav-top > .inner .search .inner .type.show .current .iconfont {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
}

.main > .header .navigation .nav-top > .inner .search .inner .type .list {
    background-color: #565656;
    position: absolute;
    opacity: 0;
    bottom: -20px;
    width: 100%;

    /*height: 0;*/
    /*overflow: hidden;*/

    transition: all 0.3s;
    transform: translateY(100%) scale(0.8 , 0.8);
}

.main > .header .navigation .nav-top > .inner .search .inner .type .list.show {
    bottom: -5px;
    opacity: 1;
    transform: translateY(100%) scale(1 , 1);
}

/*.main > .header .navigation .nav-top > .inner .search .inner .type.show .list {*/
/*    bottom: -5px;*/
/*    height: auto;*/
/*    overflow: visible;*/
/*}*/

.main > .header .navigation .nav-top > .inner .search .inner .type .list li {
    text-align: center;
    height: 30px;
    line-height: 30px;
    min-width: 55px;
    transition: all 0.3s;
    cursor: pointer;
}

.main > .header .navigation .nav-top > .inner .search .inner .type .list li:nth-last-of-type(1) {
    border-bottom: none;
}

.main > .header .navigation .nav-top > .inner .search .inner .type .list li:hover {
    background-color: #656565;
}

/*** 顶部导航栏 top action ***/
.main > .header .navigation .nav-top > .inner .action {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    line-height: normal;
}

.main > .header .navigation .nav-top > .inner .action .login-layer {

}

.main > .header .navigation .nav-top > .inner .action .login-layer button {
    box-sizing: border-box;
    background-color: #5d5d5d;
    color: #fff;
    height: 35px;
    padding: 0 25px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 15px;
}

.main > .header .navigation .nav-top > .inner .action .login-layer button:nth-last-of-type(1) {
    margin-right: 0;
}

.main > .header .navigation .nav-top > .inner .action .login-layer button:hover {
    background-color: #828282;
}

/**
 * **********************
 * 导航栏：底部
 * **********************
 */
.main > .header .navigation .nav-btm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

.main > .header .navigation .nav-btm .inner .item {
    margin: 0;
}

.main > .header .navigation .nav-btm .inner .menu {
    width: 100%;
}



/**
 * ****************
 * 内容
 * ****************
 */
.main > .body {
    transition: all 0.3s;
    transform: translateY(30%);
    opacity: 0;
}

.main > .body.show {
    transform: translateY(0%);
    opacity: 1;
}

/**
 * ****************
 * footer
 * ****************
 */
.main > .footer {
    padding: 20px 0;
}

.main > .footer p {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

