.main {
    background-color: #303030;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    overflow: auto;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
}

/**
 * ****************
 * 导航栏
 * ****************
 */
.main > .header {
    height: var(--fixed-top);
}

.main > .header .navigation {
    width: 100%;
    transition: all 0.3s linear;
    background-color: #464646;
    transform: translateY(0);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    border-bottom: 2px solid #f3c669;
}

.main > .header .navigation.fixed {
    /*transform: translateY(-60px);*/
    /*background-color: rgba(72, 72, 72 , 1);*/
}


.main > .header .navigation .nav-top > .inner > .c-inner ,
.main > .header .navigation .nav-btm > .inner
{
    width: 1280px;
    height: 100%;
    position: relative;
}

/**
 * **********************
 * 导航栏：顶部
 * **********************
 */


.main > .header .navigation .nav-top {
    position: relative;
    height: 61px;
    /*box-sizing: border-box;*/
    z-index: 10;
}

.main > .header .navigation .nav-top > .inner {
    width: 1280px;
    height: inherit;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #525252;
}

.main > .header .navigation .nav-top > .inner > .c-inner {
    height: 100%;
    line-height: 40px;
    box-sizing: border-box;
    position: relative;
}

.main > .header .navigation .nav-top > .inner > .c-inner > div {

}


/*** 顶部导航栏 top logo ***/
.main > .header .navigation .nav-top > .inner > .c-inner .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.main > .header .navigation .nav-top > .inner > .c-inner .logo:after {
    display: block;
    content: '';
    clear: both;
}

.main > .header .navigation .nav-top > .inner > .c-inner > .logo > div {
    float: left;
    box-sizing: border-box;
    margin-right: 15px;
}

.main > .header .navigation .nav-top > .inner > .c-inner > .logo > div:nth-last-of-type(1) {
    margin-right: 0;
}

.main > .header .navigation .nav-top > .inner > .c-inner .logo .__logo__ {
    width: 40px;
    height: 100%;
    overflow: hidden;
}

.main > .header .navigation .nav-top > .inner > .c-inner .logo .__logo__ .image {
    min-width: 100%;
    height: 100%;
    vertical-align: top;
}

.main > .header .navigation .nav-top > .inner > .c-inner .logo .site {
    font-weight: bold;
}

.main > .header .navigation .nav-top > .inner > .c-inner .logo .module {
    font-size: 12px;
    color: var(--font-color);
}

.main > .header .navigation .nav-top > .inner > .c-inner .logo .module .link:hover {
    text-decoration: underline;
}

/*** 顶部导航栏 top search ***/
.main > .header .navigation .nav-top > .inner > .c-inner .search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: calc(100% - 40px - 400px - 60px);
    height: 100%;
    /*min-width: 250px;*/
    background-color: rgba(255,255,255,0.1);
}

.main > .header .navigation .nav-top > .inner > .c-inner .search:before {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: #f3c669;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 10;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search:focus-within::before {
    width: 100%;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search:focus-within .inner .input {
    background-color: #717171;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search:focus-within .inner .input .form-input {
    color: #f3c669 !important;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner {
    height: 100%;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .ico {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .input {
    height: 100%;
    border: none;
    padding-left: 40px;
    padding-right: 90px;
    transition: all 0.3s;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .input .form-input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    vertical-align: top;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .input .form-input::placeholder {
    color: #999;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 100%;
    font-size: 14px;
    transition: all 0.3s;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type:hover {
    background-color: rgba(113,113,113,0.5);
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type .current {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type .current .iconfont {
    display: inline-block;
    transition: all 0.3s;
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type.show .current .iconfont {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type .list {
    background-color: #565656;
    position: absolute;
    opacity: 0;
    /*bottom: -20px;*/
    bottom: 0;
    width: 100%;

    /*height: 0;*/
    /*overflow: hidden;*/

    transition: all 0.3s;
    transform: translateY(100%) scale(0.8 , 0.8);
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type .list.show {
    /*bottom: -5px;*/
    opacity: 1;
    transform: translateY(100%) scale(1 , 1);
}

/*.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type.show .list {*/
/*    bottom: -5px;*/
/*    height: auto;*/
/*    overflow: visible;*/
/*}*/

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type .list li {
    text-align: center;
    height: 40px;
    line-height: 40px;
    min-width: 55px;
    transition: all 0.3s;
    cursor: pointer;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type .list li:nth-last-of-type(1) {
    border-bottom: none;
}

.main > .header .navigation .nav-top > .inner > .c-inner .search .inner .type .list li:hover {
    background-color: #656565;
}

/*** 顶部导航栏 top action ***/
.main > .header .navigation .nav-top > .inner > .c-inner > .action {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    line-height: normal;
}

.login-layer {

}

.login-layer button {
    box-sizing: border-box;
    background-color: #5d5d5d;
    color: #fff;
    height: 35px;
    padding: 0 25px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 15px;
}

.login-layer button:nth-last-of-type(1) {
    margin-right: 0;
}

.login-layer button:hover {
    background-color: #828282;
}

.logged-layer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.logged-layer > .item {
    position: relative;
    margin-right: 20px;
}

.logged-layer > .item:nth-last-of-type(1) {
    margin-right: 0;
}

.logged-layer > .item:hover > .action .button {
    color: #fff;
}

.logged-layer > .item > .action {

}


.logged-layer > .item > .action .button {
    color: #cecece;
    transition: all 0.3s;
    cursor: pointer;
}

/**
 * *********************
 * 历史记录
 * *********************
 */
.logged-layer > .history .groups  {
    width: 370px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50% , calc(100% + 20px)) scale(1,1);
    background-color: #656565;
    transition: all 0.3s;
    opacity: 0;
}

.logged-layer > .history .groups.show {
    bottom: -20px;
    opacity: 1;
    transform: translate(-50% , 100%) scale(1,1);
}

.logged-layer > .history .groups .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.logged-layer > .history .groups:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 10px solid #ffffff1f;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50% , -100%);
}

.logged-layer > .history .groups .inner {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.logged-layer > .history .groups .inner .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: 1px solid #797979;
}

.logged-layer > .history .groups .inner .empty {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0 20px;
    border-bottom: 1px solid #797979;
}

.logged-layer > .history .groups .inner .group {

}

.logged-layer > .history .groups .inner .group .title {
    padding: 12px 20px;
}

.logged-layer > .history .groups .inner .group .list {
    /*width: 370px;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*bottom: -20px;*/
    /*transform: translate(-50% , 100%);*/
    /*background-color: #656565;*/
    /*!*border: 1px solid red;*!*/
}

.logged-layer > .history .groups .inner .group .list .item {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 8px 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.logged-layer > .history .groups .inner .group .list .item:hover {
    background-color: grey;
}

.logged-layer > .history .groups .inner .group .list .item > * {
    margin: 0;
    flex: 0 0 auto;
}

.logged-layer > .history .groups .inner .group .list .item .thumb {
    width: 110px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.logged-layer > .history .groups .inner .group .list .item .thumb .image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    height: 100%;
    min-width: 100%;
    vertical-align: top;
}

.logged-layer > .history .groups .inner .group .list .item .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 110px);
}

.logged-layer > .history .groups .inner .group .list .item .info > * {
    margin: 0;
    padding-left: 10px;
    /*font-size: 12px;*/
}

.logged-layer > .history .groups .inner .group .list .item .info .name {
    max-height: 40px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.logged-layer > .history .groups .inner .group .list .item .info .time {
    font-size: 12px;
}

.logged-layer > .history .groups .inner .load-more {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logged-layer > .history .groups .inner .load-more .more {
    padding: 0 20px;
    height: 30px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #868686;
}


/**
 * *********************
 * 收藏记录
 * *********************
 */
.logged-layer > .favorites .collection {
    width: 520px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50% , calc(100% + 20px)) scale(1,1);
    background-color: #656565;
    transition: all 0.3s;
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logged-layer > .favorites .collection.show {
    opacity: 1;
    transform: translate(-50% , 100%) scale(1,1);
}

.logged-layer > .favorites .collection:after {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #808080;
    content: '';
    position: absolute;
    left: 150px;
    top: 0;
    z-index: 1;
}

.logged-layer > .favorites .collection > * {
    margin: 0;
    height: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    max-height:520px;
    overflow-y: auto;
}

.logged-layer > .favorites .collection:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 10px solid #ffffff1f;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50% , -100%);
}

.logged-layer > .favorites .collection > .nav {
    width: 150px;
    font-size: 14px;
    padding-top: 12px;
}

.logged-layer > .favorites .collection > .nav .item {
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.logged-layer > .favorites .collection > .nav .item.cur {
    background-color: var(--button-background-color-hover) !important;;
}

.logged-layer > .favorites .collection > .nav .item:hover {
    background-color: var(--button-background-color);
}

.logged-layer > .favorites .collection > .nav .item > * {
    margin: 0;
}

.logged-layer > .favorites .collection > .nav .item .name {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.logged-layer > .favorites .collection > .list {
    width: calc(100% - 150px);
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
    min-height: 200px;
    padding: 12px 0;
}

.logged-layer > .favorites .collection > .list .item {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 8px 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.logged-layer > .favorites .collection > .list .item:hover {
    background-color: grey;
}

.logged-layer > .favorites .collection > .list .item > * {
    margin: 0;
    flex: 0 0 auto;
}

.logged-layer > .favorites .collection > .list .item .thumb {
    width: 110px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.logged-layer > .favorites .collection > .list .item .thumb .image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    height: 100%;
    min-width: 100%;
    vertical-align: top;
}

.logged-layer > .favorites .collection > .list .item .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 110px);
}

.logged-layer > .favorites .collection > .list .item .info > * {
    margin: 0;
    padding-left: 10px;
    /*font-size: 12px;*/
}

.logged-layer > .favorites .collection > .list .item .info .name {
    max-height: 40px;
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.logged-layer > .favorites .collection > .list .item .info .time {
    font-size: 12px;
}

.logged-layer > .favorites .collection .list .loaded {
    padding: 0 20px;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    position: relative;
}

.logged-layer > .favorites .collection .list .loaded:before {
    display: block;
    content: '';
    width: 100px;
    height: 1px;
    background-color: #fff;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 0;
}

.logged-layer > .favorites .collection .list .loaded span {
    z-index: 1;
    position: relative;
    background-color: #656565;
    padding: 0 10px;
}

.logged-layer > .favorites .collection > .list .empty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.logged-layer > .favorites .collection > .list .load-more {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logged-layer > .favorites .collection > .list .load-more .more {
    padding: 0 20px;
    height: 30px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #868686;
}



/**
 ***********************************
 * 用户信息
 ***********************************
 */
.logged-layer > .user {

}

.logged-layer > .user > .action .link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
}

.logged-layer > .user > .action .link .image {
    height: 100%;
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    vertical-align: top;
}

.logged-layer > .user > .info {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #3a3c3f;
    width: 240px;
    transition: all 0.3s;
    transform: translate(-50% , calc(100% + 40px));
    opacity: 0;
}

.logged-layer > .user > .info.show {
    opacity: 1;
    transform: translate(-50% , calc(100% + 20px));
}

.logged-layer > .user > .info:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 10px solid #ffffff1f;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50% , -100%);
}

.logged-layer > .user > .info .user .link {
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff1f;
    padding: 12px 20px;
    cursor: pointer;
}

.logged-layer > .user > .info .user .link > * {
    margin: 0;
}

.logged-layer > .user > .info .user .link .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logged-layer > .user > .info .user .link .avatar .mask {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.logged-layer > .user > .info .user .link .avatar .mask .image {
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.logged-layer > .user > .info .user .link .info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logged-layer > .user > .info .user .link .info > * {
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
}

.logged-layer > .user > .info .user .link .info .name ,
.logged-layer > .user > .info .user .link .info .desc
{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    height: 16px;
}

.logged-layer > .user > .info .actions {

}

.logged-layer > .user > .info .actions .action {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
}

.logged-layer > .user > .info .actions .action:hover {
    background-color: #ffffff1f;
}

.logged-layer > .user > .info .actions .action > * {
    margin: 0;
    flex: 0 0 auto;
}
.logged-layer > .user > .info .actions .action .ico {
    width: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logged-layer > .user > .info .actions .action .name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}

    /**
     * **********************
     * 导航栏：底部
     * **********************
     */
.main > .header .navigation .nav-btm {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

.main > .header .navigation .nav-btm > .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main > .header .navigation .nav-btm > .inner > .item {
    margin: 0;
}

.main > .header .navigation .nav-btm > .inner > .item.menu {
    /*width: 100%;*/
}

.main > .header .navigation .nav-btm > .inner > .item.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main > .header .navigation .nav-btm > .inner > .item.actions > * {
    margin: 0;
}

.main > .header .navigation .nav-btm > .inner > .item.actions .module {
    padding: 0 20px;
    font-size: 12px;
    color: #ccc;
}

.main > .header .navigation .nav-btm > .inner > .item.actions .module:hover {
    text-decoration: underline;
}

.main > .header .navigation .nav-btm > .inner > .actions .module-switch {
    position: relative;
}

.main > .header .navigation .nav-btm > .inner > .actions .module-switch:hover .action {
    background-color: var(--box-background-color-hover);
}

.main > .header .navigation .nav-btm > .inner > .actions .module-switch .action {
    width: 60px;
    line-height: 39px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.main > .header .navigation .nav-btm > .inner > .actions .module-switch .list {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50% , 100%) scale(0.8 , 0.8);
    opacity: 0;
    background-color: var(--box-background-color);
    transition: all 0.3s;
    padding: 10px 0;
}

.main > .header .navigation .nav-btm > .inner > .actions .module-switch .list.show {
    opacity: 1;
    transform: translate(-50% , 100%) scale(1 , 1);
}

.main > .header .navigation .nav-btm > .inner > .actions .module-switch .list .item {
    text-align: center;
    white-space: nowrap;
    padding: 0 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.main > .header .navigation .nav-btm > .inner > .actions .module-switch .list .item:hover {
    background-color: var(--box-background-color-hover);
}



/**
 * ****************
 * 内容
 * ****************
 */
.main > .body {
    transition: all 0.3s;
    /*opacity: 0;*/
    /*margin-top: 100px;*/
}

.main > .body.show {
    margin-top: 0;
    opacity: 1;
}

/**
 * ****************
 * footer
 * ****************
 */
.main > .footer {
    padding: 20px 0;
}

.main > .footer p {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

/*** 箭头 ***/
.main > .to-top {
    position: fixed;
    right: 120px;
    bottom: 100px;
    background-color: #5d5d5d;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    transform: rotateZ(180deg) scale(0.3,0.3);
    opacity: 0;
    cursor: pointer;
}

.main > .to-top:hover {
    background-color: #828282;
}

.main > .to-top.hide {
    display: none;
}

.main > .to-top.show {
    opacity: 1;
    transform: rotateZ(180deg) scale(1,1);
}


/**
 ***************************************
 * 登录/注册表单
 ***************************************
 */
.user-form {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    opacity: 0;
    transform: scale(1.2 , 1.2);
    transition: all 0.3s;
}

.user-form.show {
    opacity: 1;
    transform: scale(1,1);
}

.user-form .user-form-item {
    width: 350px;
    padding: 20px 20px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.user-form .user-form-item > * {
    padding-bottom: 20px;
    box-sizing: content-box;
}

.user-form .user-form-item > *:nth-last-of-type(1) {
    padding-bottom: 0;
}

.user-form .user-form-item .logo {
    position: relative;
}

.user-form .user-form-item .logo .outer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*position: absolute;*/
    /*left: 50%;*/
    /*border: 5px solid #ccc;*/
    overflow: hidden;
    /*transform: translateX(-50%);*/
    display: flex;
    justify-content:center;
    align-items: center;
}

.user-form .user-form-item .logo .outer .image {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
}

.user-form .user-form-item > .title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

/*** 提示信息 ***/
.user-form .user-form-item .message {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

/*** 表单  ***/
.user-form .user-form-item .form {

}

.user-form .user-form-item .form .form-inner {

}

.user-form .user-form-item .form .form-inner .form-input:focus {
    /*background-color: red !important;*/
}

.user-form .user-form-item .form .form-inner .line {
    margin-bottom: 20px;
}

.user-form .user-form-item .form .form-inner .line:nth-last-of-type(1) {
    margin-bottom: 0;
}

.user-form .user-form-item .form .form-inner .line .top {
    height: 45px;
    line-height: 45px;
    position: relative;
    background-color: rgba(64, 64, 64, 0.5);
    transition: all 0.3s;
}

.user-form .user-form-item .form .form-inner .line .top:focus-within {
    background-color: rgba(64, 64, 64, 0.8);
}

.user-form .user-form-item .form .form-inner .line .top .left {
    height: 100%;
    margin-right: 50px;
    position: relative;
}

.user-form .user-form-item .form .form-inner .line.hide-ico .top .left {
    margin-right: 0;
}

.user-form .user-form-item .form .form-inner .line .top .left .button-in-line {
    position: absolute;
    right: 10px;
    height: 30px;
    background-color: var(--button-background-color);
    color: var(--button-color);
    padding: 0 10px;
    top: 50%;
    transform: translate(0 , -50%);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.user-form .user-form-item .form .form-inner .line .top .left .button-in-line.disabled {
    cursor: not-allowed;
}

.user-form .user-form-item .form .form-inner .line .top .left .form-input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
}

.user-form .user-form-item .form .form-inner .line .top .left .form-input:focus {

}

.user-form .user-form-item .form .form-inner .line .top .left .form-input:focus {
    width: 100%;
}

.user-form .user-form-item .form .form-inner .line .top .right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    text-align: center;
}

.user-form .user-form-item .form .form-inner .line.hide-ico .top .right {
    display: none;
}

.user-form .user-form-item .form .form-inner .line .top .right .image {
    width: 24px;
    height: 24px;
}

.user-form .user-form-item .form .form-inner .line .btm {
    padding-top: 2px;
    font-size: 12px;
    color: #ccc;
    position: relative;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    overflow: hidden;
}

.user-form .user-form-item .form .form-inner .line .top:before {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: #f3c669;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.2s linear;
    transform: translate(-50% , 100%);
}

.user-form .user-form-item .form .form-inner .line .btm {
    transition: all 0.2s linear;
    opacity: 0;
    height: 0;
}



.user-form .user-form-item .form .form-inner .password .top .left .preview-password {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    text-align: center;
}

/*.user-form .user-form-item .form .form-inner .password .top .left .preview-password:hover {*/
/*    border-radius: inherit;*/
/*    color: inherit;*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    height: 100%;*/
/*    opacity: 0.12;*/
/*    width: 100%;*/
/*}*/

.user-form .user-form-item .form .form-inner .password .top .left .preview-password .outer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transform: translate(-50%,-50%);
    cursor: pointer;
    border-radius: 30px;
    overflow: hidden;
}

.user-form .user-form-item .form .form-inner .password .top .left .preview-password .outer:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.12s linear;
}

.user-form .user-form-item .form .form-inner .password .top .left .preview-password .outer .image {
    width: 20px;
    height: 20px;
}

.user-form .user-form-item .form .form-inner .password .top .left .preview-password .outer:hover::before {
    background-color: #54545480;
}

.user-form .user-form-item .form .form-inner .password .top .left .preview-password .outer:active::before {
    background-color: #54545480;
}

.user-form .user-form-item .form .form-inner .password .top .left .form-input {
    padding-right: 30px;
}

/*** 表单错误表现 ***/
.user-form .user-form-item .form .form-inner .line.focus .top:before , .user-form .user-form-item .form .form-inner .line.error .top:before {
    width: 100%;
}

/*.user-form .user-form-item .form .form-inner .line.focus .btm , */
.user-form .user-form-item .form .form-inner .line.error .btm {
    opacity: 1;
    height: 30px;
    line-height: 30px;
    color: red;
}

.user-form .user-form-item .form .form-inner .line.captcha .top .left {
    margin-right: 120px;
}

.user-form .user-form-item .form .form-inner .line.captcha .top .right {
    width: 120px;
}

.user-form .user-form-item .form .form-inner .line.captcha .top .right .image {
    position: absolute;
    left: 0;
    top: 50%;
    width: 120px;
    height: 36px;
    transform: translateY(-50%);
}

.user-form .user-form-item .form .line.operation {
    text-align: center;
}

.user-form .user-form-item .form .line .button {
    position: relative;
    width: 100%;
    height: 45px;
    /*background-color: rgba(84,84,84,0.6);*/
    border-radius: 2px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 1px solid rgba(147, 148, 150, 0.3);
}

.user-form .user-form-item .form .line .button:hover {
    background-color: #b59a44 !important;
}

.user-form .user-form-item .form .line.submit .button {
    background-color: #8c713a;
}

.user-form .user-form-item .form .line.submit button.disabled {
    position: relative;
    width: 100%;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 1px solid rgba(147, 148, 150, 0.3);
    background-color: #ffffff1f;
    color: hsla(0,0%,100%,0.3)!important
}

.user-form .user-form-item .form .line.register .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}