.main > .header .navigation .nav-top .action .login-layer-below-640 {
    display: none;
}

@media screen and (max-width: 640px) {
    /**
     * ***********************
     * 针对 nav 导航插件的修改
     * ***********************
     */
    .main > .header {
        height: 60px;
    }

    .main > .header .navigation.fixed {
        transform: translateY(0);
    }

    .main > .header .navigation .nav-top {
        height: 50px;
        border-bottom: none;
    }

    .main > .header .navigation .nav-top .logo > .website {
        display: none;
    }

    .main > .header .navigation .nav-top .logo .__logo__ ,
    .main > .header .navigation .nav-top .logo .menu  {
        width: 30px;
    }

    .main > .header .navigation .nav-top .logo .menu {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    .main > .header .navigation .nav-top .logo .menu:hover {
        background-color: #717171;
    }

    .main > .header .navigation .nav-top .logo .menu .image {
        width: 24px;
        height: 24px;
        min-width: auto;
    }

    .main > .header .navigation .nav-top .search {
        width: calc(100% - 90px - 0.15rem - 0.4rem - 60px);
    }

    .main > .header .navigation .nav-top .search .inner .type {
        font-size: 13px;
    }

    .main > .header .navigation .nav-top .action .login-layer {
        display: none;
    }

    .main > .header .navigation .nav-top .action .login-layer-below-640 {
        display: block;
        height: 100%;
    }

    .main > .header .navigation .nav-top .action .login-layer-below-640 .login {
        width: 30px;
        height: 100%;
    }

    .main > .header .navigation .nav-top .action .login-layer-below-640 .login .image {
        height: 100%;
        vertical-align: top;
    }

    .main > .header .navigation .nav-btm {
        display: none;
    }
}