.view {

}

.view > * {
    margin-bottom: 20px;
}

.view > *:nth-last-of-type(1) {
    margin-bottom: 0;
}


/**
 * *******************
 * 焦点栏
 * *******************
 */
.view .focus-bar {
    position: relative;
    height: 420px;
    padding: 20px;
    box-sizing: border-box;
}

.view .focus-bar .background {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1300px;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.view .focus-bar .background .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(../res/slideshow_mask.png);
    background-repeat: repeat;
    background-position: center;
    /*background-size: */
}

.view .focus-bar .background .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(2px);
    /*background-repeat: repeat-x;*/
    background-size: cover;
    background-position: center;
    transition: all 3s ease-in-out;
}

.view .focus-bar .background .image {
    width: 100%;
    min-height: 100%;
}

.view .focus-bar .content {
    width: 1280px;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.view .focus-bar .content > div {
    height: 380px;
    margin: 0;
}

.view .focus-bar .content .slidebar {
    width: calc(50% - 10px);
}

.view .focus-bar .content .box {
    width: calc(50% - 10px);
    overflow: hidden;
}

.view .focus-bar .content .box .inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.view .focus-bar .content .box .inner .item {
    margin: 0 12px 20px 0;
    width: calc(33.33% - 8px);
    height: 180px;
    overflow: hidden;
    position: relative;
}

.view .focus-bar .content .box .inner .item:nth-of-type(3n) {
    margin-right: 0;
}

.view .focus-bar .content .box .inner .item:nth-last-of-type(1) ,
.view .focus-bar .content .box .inner .item:nth-last-of-type(2) ,
.view .focus-bar .content .box .inner .item:nth-last-of-type(3) {
    margin-bottom: 0;
}

.view .focus-bar .content .box .inner .item:hover .info {
    transform: translateY(0);
}

.view .focus-bar .content .box .inner .item .image {
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.view .focus-bar .content .box .inner .item .info {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px 10px;
    box-sizing: border-box;
    transition: all 0.3s;
    transform: translateY(calc(100% - 30px));
    cursor: pointer;
}

.view .focus-bar .content .box .inner .item .info .title {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.view .focus-bar .content .box .inner .item .info .desc {
    font-size: 13px;
    height: calc(100% - 30px);
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}

/**
 * **********************
 * 图片专区
 * **********************
 */
.view .content-group {
    width: 1280px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.view .content-group > .group {
    margin-bottom: 20px;
}

.view .content-group > .group:nth-last-of-type(1) {
    margin-bottom: 0;
}

.view .content-group > .group .run-action-title {

}

.view .content-group > .group .run-action-title > .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.view .content-group > .group .run-action-title > .right > * {
    margin-right: 20px;
}

.view .content-group > .group .run-action-title > .right > *:nth-last-of-type(1) {
    margin-right: 0;
}

.view .content-group > .group .run-action-title > .right > .tags .tag {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 12px;
    background-color: #5d5d5d;
    transition: all 0.3s;
    vertical-align: middle;
}



.view .content-group > .group .run-action-title > .right > .tags .tag:hover {
    background-color: #828282;
}

.view .content-group > .group .run-action-title > .right .operation {

}

.view .content-group > .group .run-action-title > .right .operation button {
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 12px;
    background-color: #5d5d5d;
    transition: all 0.3s;
    cursor: pointer;
    /*vertical-align: unset;*/
}

.view .content-group > .group .run-action-title > .right .operation button:hover {
    background-color: #828282;
}

.view .content-group > .group > .list {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding-top: 20px;
    box-sizing: border-box;
}

.view .content-group > .group > .list .inner {
    display: flex;
    justify-content: flex-start;
}

.view .content-group > .group > .list .inner .card-box {
    margin: 0 20px 0 0;
}

/**
 * **********************
 * 弹性盒子
 * **********************
 */
.card-box {
    transition: all 0.3s;
    transform: translateY(0);
    background-color: #383838;
    width: 305px;
}

.card-box:hover {
    background-color: #424242;
    transform: translateY(-5px);
}

.card-box:hover .thumb .mask {
    opacity: 1;
}

.card-box .thumb {
    position: relative;
    height: 380px;
    overflow: hidden;
}

.card-box .thumb .image {
    min-width: 100%;
    height: 100%;
    vertical-align: top;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    transform: translateX(-50%);
}

.card-box .thumb .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.card-box .thumb .mask > * {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.card-box .thumb .mask .run-iconfont {
    font-size: 35px;
}

.card-box .thumb .mask .top {
    top: 0;
}

.card-box .thumb .mask .top .type {
    position: absolute;
    left: 20px;
    top: 20px;
}

.card-box .thumb .mask .top .collection {
    position: absolute;
    right: 20px;
    top: 20px;

}

.card-box .thumb .mask .btm {
    bottom: 0;
}

.card-box .thumb .mask .btm .count {
    background-color: rgba(62, 62, 62, 0.5);
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.card-box .introduction {
    padding: 0 15px 15px;
    box-sizing: border-box;
}

.card-box .introduction .tags {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-box .introduction .tags .ico {
    padding-right: 5px;
}

.card-box .introduction .tags .tag {
    padding: 3px 10px;
    background-color: #5d5d5d;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 5px;
    line-height: normal;
    display: inline-block;
}

.card-box .introduction .tags .tag:nth-of-type(1) {
    margin-left: 0;
}

.card-box .introduction .tags .tag:hover {
    background-color: #828282;
}

.card-box .introduction .title {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.card-box .introduction .user {
    text-align: left;
    height: 40px;
    line-height: 40px;
}

.card-box .introduction .user .avatar-outer {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.card-box .introduction .user .avatar-outer .avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    height: 100%;
    vertical-align: top;
    transform: translate(-50% , -50%);
}

.card-box .introduction .user .name {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-box .introduction .info {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.card-box .introduction .info > * {
    margin: 0;
}

.card-box .introduction .info .right span {
    margin-right: 8px;
}

.card-box .introduction .info .right span:nth-last-of-type(1) {
    margin-right: 0;
}