/**
 * ***************
 * 通用设置
 * ***************
 */
.view {
    width: auto;
}

/**
 * *****************
 * 焦点栏设置
 * *****************
 */
.view .focus-bar {
    box-sizing: border-box;
    background-color: #000613;
    position: relative;
    overflow: hidden;
}

.view .focus-bar .bg-color {
    background-color: #222831;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.view .focus-bar .bg-image {
    background-color: #222831;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(../res/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    filter: blur(10px);
}

.view .focus-bar > .content {
    width: 1280px;
    padding: 50px 0;
}

.view .focus-bar > .content:after {
    display: block;
    content: '';
    clear: both;
}

.view .focus-bar > .content > div {
    width: 630px;
    height: 540px;
    box-sizing: border-box;
}

.view .focus-bar > .content > .big-image {
    float: left;

}

.view .focus-bar > .content > .big-image .mask {
    position: relative;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.view .focus-bar > .content > .big-image .mask .image {
    min-width: 100%;
    height: 100%;
    vertical-align: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);

}

.view .focus-bar > .content > .small-image {
    float: right;
}

.view .focus-bar > .content > .small-image:after {
    display: block;
    content: '';
    clear: both;
}

.view .focus-bar > .content > .small-image .mask {
    float: left;
    width: 305px;
    height: 260px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
}

.view .focus-bar > .content > .small-image .mask:nth-of-type(2n) {
    margin-right: 0;
}

.view .focus-bar > .content > .small-image .mask:nth-last-of-type(1) ,
.view .focus-bar > .content > .small-image .mask:nth-last-of-type(2)
{
    margin-bottom: 0;
}


.view .focus-bar > .content > .small-image .mask .image {
    min-width: 100%;
    height: 100%;
    vertical-align: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}


/**
 * **************
 * 内容样式
 * **************
 */
.view > .content {
    width: 1280px;
}

.view > .content > .run-tags {
    padding: 40px 0;
}

.view > .content > .list {
    position: relative;
}

.view > .content > .list > .loading {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
}

.view > .content > .list > .inner {

}

.view > .content > .list > .inner:after {
    display: block;
    content: '';
    clear: both;
}

.view > .content > .list > .inner .card-box {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.view > .content > .list > .inner .card-box:nth-of-type(4n) {
    margin-right: 0;
}

.view > .content > .loading {
    text-align: center;
}

.view > .content > .loading .end {
    font-size: 12px;
    background-color: #3e3d3d;
    padding: 10px 300px;
    border-radius: 3px;
}

/**
 * **************
 * 标签样式
 * **************
 */
.view .run-tags.vertical {
    position: fixed;
    top: 50%;
    right: 40px;
    z-index: 100;

    transform: translateY(-50%) scale(0.6 , 0.6);
    opacity: 0;
    transition: all 0.3s;
}

.view .run-tags.vertical.show {
    transform: translateY(-50%) scale(1 , 1);
    opacity: 1;
}


/**
 * ********************
 * 标签选择器
 * ********************
 */
.tag-selector {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 200;
    transition: all 0.4s;
}

.tag-selector > .inner {
    width: 800px;
    min-height: 400px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50% , 0);
    background-color: #424242;
    padding: 0 20px;
    transition: all 0.4s;
}

.tag-selector.show {
    background-color: rgba(0,0,0,0.5);
}

.tag-selector.show > .inner {
    top: 50%;
    transform: translate(-50% , -50%);
}


.tag-selector > .inner > .title {
    height: 60px;
    line-height: 60px;
    position: relative;
    border-bottom: 1px solid #525252;
}

.tag-selector > .inner > .title .close {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-selector > .inner > .title .close .close-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    color: #fff;
}

.tag-selector > .inner > .title .close .close-btn:hover {
    background-color: #6b6b6b;
}

.tag-selector > .inner > .title .text {
    height: 100%;
    text-align: center;
}

.tag-selector > .inner > .title .operation {
    position: absolute;
    right: 0;
    top: 50%;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    transform: translateY(-50%);
}
.tag-selector > .inner > .title .operation:hover {
    background-color: #828282;
}

.tag-selector > .inner .content {
    padding: 20px 0;
}

.tag-selector > .inner .content > .line {
    margin-bottom: 15px;
}

.tag-selector > .inner .content > .line:nth-last-of-type(1) {
    margin-bottom: 0;
}

.tag-selector > .inner .content > .mode-swith {
    display: flex;
    justify-content: space-between;
}

.tag-selector > .inner .content > .mode-swith > div {
    margin: 0;
}

.tag-selector > .inner .content > .tags {

}

.tag-selector > .inner .content > .tags > div {
    margin-bottom: 15px;
}

.tag-selector > .inner .content > .tags > div:nth-last-of-type(1) {
    margin-bottom: 0;
}

.tag-selector > .inner .content > .tags .search {
    display: flex;
    justify-content: flex-start;
}

.tag-selector > .inner .content > .tags .search .inner {
    position: relative;
    height: 30px;
    background-color: rgba(255,255,255,0.1);
    margin: 0;
    transition: all 0.3s;
}

.tag-selector > .inner .content > .tags .search .inner:focus-within {
    background-color: #717171;
}

.tag-selector > .inner .content > .tags .search .inner .ico {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-selector > .inner .content > .tags .search .inner .input {
    padding-left: 30px;
    height: 100%;
}


.tag-selector > .inner .content > .tags .search .inner .input input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
    text-indent: 0;
}

.tag-selector > .inner .content > .tags .search .inner .input input::placeholder {
    color: #ccc;
}

.tag-selector > .inner .content > .tags .list {
    position: relative;
}

.tag-selector > .inner .content > .tags .list.loading {
    height: 120px;
    /*padding: 20px;*/
}

.tag-selector > .inner .content > .tags .list .mask {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}



.tag-selector > .inner .content > .tags .list.loading .mask {
    display: flex;
}

.tag-selector > .inner .content .tags .pager {
    text-align: center;
}

/*** 标签样式重置 ***/
.tag-selector .run-tags {
    justify-content: flex-start;
}
.tag-selector .run-tags  .tag {
    margin-right: 10px;
    margin-bottom: 10px;
}

.tag-selector .run-tags  .tag:nth-last-of-type(1) {
    margin-right: 0;
}

.tag-selector .run-tags  .tag.selected {
    background-color: #828282;
}