
/*** 滚动条重置 ***/
::-webkit-scrollbar-thumb {
    background-color: rgb(175, 175, 175);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(136, 136, 136);
}

/* 滚动槽 */
::-webkit-scrollbar-corner ,
::-webkit-scrollbar-track
{
    background-color: #ffffff4d;
}

.horizontal-for-img {
    min-width: auto !important;
    height: auto !important;
    width: 100% !important;
    min-height: 100% !important;
    vertical-align: top;
}

.vertical-for-img {
    height: 100% !important;
    min-width: 100% !important;
    vertical-align: top;
}

.judge-img-size {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50% , -50%);
    height: 100%;
    min-width: 100%;
    vertical-align: top;
}


/**
 * **************
 * 标签样式
 * **************
 */

.run-tags.horizontal  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.run-tags.vertical  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.run-tags.vertical .tag {
    text-align: center;
}

.run-tags  .tag {
    flex: 0 0 auto;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 12px;
    background-color: #5d5d5d;
    transition: all 0.3s;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
}

.run-tags  .tag:nth-last-of-type(1) {
    margin-right: 0;
}

.run-tags .tag.more {
    position: relative;
}

.run-tags .tag.more .number {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50% , -50%);
    border-radius: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #c44649;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
}

.run-tags  .tag.cur {
    background-color: #828282;
}

.run-tags  .tag:hover {
    background-color: #828282;
}



/**
 * **********************
 * 弹性盒子
 * **********************
 */
.card-box {
    transition: all 0.3s;
    transform: translateY(0);
    background-color: #383838;
    width: 305px;
    box-sizing: border-box;
}

.card-box:hover {
    background-color: #424242;
    transform: translateY(-5px);
}

.card-box:hover .thumb .link .mask {
    /*.card-box .thumb .link .mask {*/
    /*opacity: 1;*/
    background-color: rgba(0,0,0,0.5);
}

.card-box:hover .thumb .link .mask .top .praise {
    /*.card-box .thumb .link .mask .top .praise {*/
    opacity: 1;
}

.card-box .thumb {
    height: 380px;
    overflow: hidden;
}

.card-box .thumb .link {
    position: relative;
    display: block;
    height: inherit;

}

.card-box .thumb .link > .image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    transform: translateX(-50%);
}

.card-box .thumb .link .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    /*background-color: rgba(0,0,0,0.5);*/
    opacity: 1;
    cursor: pointer;
    z-index: 1;
}

.card-box .thumb .link .mask > * {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.card-box .thumb .link .mask .run-iconfont {
    font-size: 35px;
}

.card-box .thumb .link .mask .top {
    top: 0;
}

.card-box .thumb .link .mask .top .type {
    position: absolute;
    left: 20px;
    top: 20px;
}

.card-box .thumb .link .mask .top .praise {
    background-color: rgba(93, 93, 93, 0.5);
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    color: #fff;
    font-size: 12px;
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    /*transition: all 0.3s;*/
}

.card-box .thumb .link .mask .top .praise:hover {
    background-color: rgba(93, 93, 93, 0.8);
}

.card-box .thumb .link .mask .btm {
    bottom: 0;
}

.card-box .thumb .link .mask .btm .count {
    background-color: rgba(62, 62, 62, 0.5);
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.card-box .introduction {
    padding: 0 15px 15px;
    box-sizing: border-box;
}

.card-box .introduction .tags {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-box .introduction .tags .ico {
    padding-right: 5px;
}

.card-box .introduction .tags .tag {
    padding: 3px 10px;
    background-color: #5d5d5d;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 5px;
    line-height: normal;
    display: inline-block;
}

.card-box .introduction .tags .tag:nth-of-type(1) {
    margin-left: 0;
}

.card-box .introduction .tags .tag:hover {
    background-color: #828282;
}

.card-box .introduction .title {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    /*cursor: pointer;*/
}

.card-box .introduction .title:hover {
    text-decoration: underline;
}

.card-box .introduction .user {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-box .introduction .user > * {
    margin: 0;
}

.card-box .introduction .user .sender {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-box .introduction .user .sender .avatar-outer {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.card-box .introduction .user .sender .avatar-outer .avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    height: 100%;
    vertical-align: top;
    transform: translate(-50% , -50%);
}

.card-box .introduction .user .sender .name {
    font-size: 12px;
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.card-box .introduction .user .action {

}

.card-box .introduction .user .action .button {
    color: #fff;
}

.card-box .introduction .info {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.card-box .introduction .info > * {
    margin: 0;
}

.card-box .introduction .info .right span {
    margin-right: 8px;
}

.card-box .introduction .info .right span:nth-last-of-type(1) {
    margin-right: 0;
}

.card-box .introduction .info .right .collect-count .run-iconfont {
    margin-top: -2px;
}

.card-box .actions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 15px 15px 15px;
}

.card-box .actions .button {
    width: 25%;
    height: 30px;
    color: #fff;
    box-sizing: border-box;
}

/**
 * *********************
 * 收藏夹
 * *********************
 */
.my-favorites {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.3s;
    z-index: 100;
}

.my-favorites.show {
    opacity: 1;
}

.my-favorites.show > .inner {
    transform: translate(-50% , -50%);
}

.my-favorites > .inner {
    background-color: #424242;
    padding: 0 20px 20px 20px;
    width: 700px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , 100%);
    transition: all 0.3s;
}

.my-favorites > .inner > * {
    margin-bottom: 20px;
}

.my-favorites > .inner > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.my-favorites > .inner > .title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #525252;

}

.my-favorites > .inner > .title .close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    transition: all 0.3s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-favorites > .inner > .title .close:hover {
    background-color: #6b6b6b;
}

.my-favorites > .inner > .create {

}

.my-favorites > .inner > .create .title {
    height: 30px;
    line-height: 30px;
}

.my-favorites > .inner > .create .content {
    font-size: 14px;
}

.my-favorites > .inner > .create .content .input {
    background-color: rgba(255,255,255,0.1);
    border: none;
    width: 200px;
    height: 30px;
    color: #fff;
}

.my-favorites > .inner > .create .content .input::placeholder {
    color: #ccc;
}

.my-favorites > .inner > .create .content .input:focus {
    background-color: rgba(255,255,255,0.2);
}

.my-favorites > .inner > .create .content .button {
    background-color: #5d5d5d;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    height: 30px;
    padding: 0 20px;
    color: #fff;
}

.my-favorites > .inner > .create .content .button:hover {
    background-color: #828282;
}

.my-favorites > .inner > .favorites .title {
    height: 30px;
    line-height: 30px;
}

.my-favorites > .inner > .favorites .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    /*padding: 15px 0;*/
    /*border: 1px solid #525252;*/
    position: relative;
}

.my-favorites > .inner > .favorites .list .loading ,
.my-favorites > .inner > .favorites .list .empty
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-favorites > .inner > .favorites .list .loading {
    background-color: rgba(0,0,0,0.5);
}

.my-favorites > .inner > .favorites .list .empty {
    font-size: 14px;
}

.my-favorites > .inner > .favorites .list .item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    /*margin: 0 0 15px 0;*/
    margin: 0;
    /*padding: 0 10px;*/
    /*border: 1px solid #525252;*/
}

.my-favorites > .inner > .favorites .list .item:nth-of-type(2n - 1) {
    padding-right: 10px;
}

.my-favorites > .inner > .favorites .list .item:nth-of-type(2n) {
    padding-left: 10px;
}
.my-favorites > .inner > .favorites .item > * {
    margin: 0;
    flex: 0 0 auto;
}

.my-favorites > .inner > .favorites .list .item .name .exists {
    color: darkgrey;
    font-size: 12px;
}

.my-favorites > .inner > .favorites .list .item .name .button {
    background-color: #5d5d5d;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    height: 28px;
    padding: 0 20px;
    color: #fff;
    margin-left: 8px;
}

.my-favorites > .inner > .favorites .list .item .name .button:hover {
    background-color: #828282;
}

.my-favorites > .inner > .favorites .list .item .info {

}

.my-favorites > .inner > .favorites .list .item .info .number {
    background-color: #5d5d5d;
    padding: 2px 12px;
    border-radius: 30%;
    font-size: 12px;

}

/**
 * ******************
 * 按钮风格
 * ******************
 */
.my-button {
    background-color: #5d5d5d;
    transition: all 0.3s;
    height: 30px;
    padding: 0 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.my-button:hover {
    background-color: #828282;
}

.my-button.small {
    height: 24px;
    font-size:12px;

}